{% extends 'base.html' %}


{% block title %}
    Registrar Departamento
{% endblock title %}
    

{% block content %}

{% include 'includes/header.html' %}

<div class="grid-container">
    <div class="grid-x">
        <h1 class="cell">Registrar Departamento</h1>
        <form class="cell callout grid-x grid-margin-x" method="POST">{% csrf_token %}
            <div class="medium-6 cell">
              <label>Nombres:
                {{ form.nombre }}
              </label>
            </div>
            <div class="medium-6 cell">
              <label>Apellidos:
                {{ form.apellido }}
              </label>
            </div>
            <div class="medium-6 cell">
              <label>Departamento:
                {{ form.departamento }}
              </label>
            </div>
            <div class="medium-6 cell">
              <label>Nombre Corto:
                {{ form.shorname }}
              </label>
            </div>
        </form>
    </div>
</div>
    
{% endblock content %}
    


<h1>Registrar nuevo Departamento</h1>

<form method="POST"> {% csrf_token %}
    <h3>Datos Empleados</h3>
    <p>
        {{ form.nombre }}
    </p>
    <p>
        {{ form.apellido }}
    </p>
    <h3>Datos de Departamento</h3>
    <p>
        {{ form.departamento }}
    </p>
    <p>
        {{ form.shorname }}
    </p>
    <button type="submit">Guardar</button>
</form>